/* Header */
header {
    width: 100%;
    height: 40px ;
    background-color: #ffffff;
    margin: 0;
}

/* Navigation */
header nav {
    width: 60%;
    max-width: 1150px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Foodmandu Logo */
nav img {
    width: 170px;
    height: auto;
    display: block;
}

/* Login Button */
nav button {
    width: 83px;
    height: 34px;
    background-color: #414141;
    color: #f5b868;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

nav button:hover {
    background-color: #747171;
}

main .hero {
    max-width: auto;
    height: 600px;
    background-image: url('/images/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero h1 {
    padding-top: 300px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: rgb(10, 10, 10);
    /* justify-content: center; */
    /* display: flex; */
    margin-top: 50px;
    margin-left: 600px;

}

.search-box {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: center;
}

.restaurant-input {
    width: 25%;
    height: 44px;
    padding: 0 15px;
    border: none;
    outline: none;
}

.restaurant-input::placeholder {
    color: #aaa;
}

.find-btn {
    width: 8%;
    height: 44px;
    border: none;
    background-color: #ffd400;
    cursor: pointer;
}

.find-btn:hover {
        background-color: #9c8c3b;
}

.order h6 {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-top: 60px;
    margin-left: 380px;
}

.fresh {
   max-width: 60%;
    margin: auto;
}

hr {
    margin: 70px 0px 70px 0px;
   border: 1px solid rgb(241, 241, 241);
}

.order img {
    max-width: 100%;
    object-fit: cover;

}

.items h6 {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 600;
    /* margin-top: 60px; */
    /* margin-left: 380px; */
}

.items-view {
    display: block;
    justify-content: center;
}


.item {
    width: 100%;
}

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px 30px;
    width: 92%;
    max-width: 1110px;
    margin: auto;
}

.item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
}

.item h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #8a8787;
    line-height: 1.5;
    margin: 8px 0 0;
}

.item a {
    margin-left: 500px;
}



.item img:hover {
    transform: scale(1.05);
}

.about {
    /* width: 100%; */
    height: 320px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),url("/images/about.jpeg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.about h4 {
    font-family: 'Lato', sans-serif;
    padding: 20px;
    font-weight: 200;
    font-size: 30px;

}

.about p {
    font-family: 'Lato', sans-serif;
    font-weight: 200px;
    margin: 0;
    padding: 0;
}

.about button {
    max-width: 150px;
    margin-top: 10px;
    padding: 0;
    font-size: 15px;
    font-weight: 200;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    border-radius: 10% solid black;
    cursor: pointer;
}

.about button:hover {
    color: rgb(89, 218, 89);
}

.get {
    display: flex;
    margin-top: 100px;
}

.text {
    margin-left: 400px;
}

.text h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 350;
    font-size: 40px;
    margin: 0;
}

.text p {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.image-container a img {
    display: inline;
    max-width: 150px;

}

.image img{
    display: flex;
    max-width: 400px;
    height: 40vh;
    margin-left: 200px;
    margin-bottom: 0;
}

.list {
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: rgba(230, 226, 226, 0.305);
    text-align: center;
    padding: 50px;
    border: 1px solid rgb(232, 225, 225);
}

.list h2 {
    margin: 50px;
    font-weight: 200;
    font-size: 27px;
    padding: 10px;
    gap: 10px;
}

.list button {
    font-size: 15px;
    max-width: 150px;
    padding: 12px;
    background-color: rgb(245, 233, 69);
    border:none;
}

.list button:hover {
background-color: rgb(156, 149, 47);
}


.container {
    /* background-color: #414141; */
    margin-top: 30px;
    margin-left: 400px;
    margin-bottom: 100px;
}

footer {
    width: 100%;
    background-color: white;
    padding: 30px 0 35px;
    font-family: 'Lato', sans-serif;
    color: #555;
}

.container {
    width: 73%;
    max-width: 1000px;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: left;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    padding-bottom: 10px;
    vertical-align: top;
}

table td {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    vertical-align: top;
    padding: 0 20px 0 0;
}

table th:nth-child(1),
table td:nth-child(1) {
    width: 25%;
}

table th:nth-child(2),
table td:nth-child(2) {
    width: 18%;
}

table th:nth-child(3),
table td:nth-child(3) {
    width: 25%;
}

table th:nth-child(4),
table td:nth-child(4) {
    width: 25%;
}

table a {
    color: #555;
    text-decoration: none;
}

table a:hover {
    color: #222;
}

table img {
    width: 102px;
    display: block;
    margin-bottom: 7px;
}

table strong {
    font-size: 12px;
    color: #333;
    margin-right: 5px;
}

.social {
    margin-top: 8px;
    display: flex;
    gap: 8px;
}

.social i {
    font-size: 25px;
    color: #999;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    margin-top: 25px;
    padding-top: 17px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 12px;
    color: #777;
}

.footer-bottom a {
    color: #777;
    text-decoration: none;
}

.footer-bottom span {
    margin: 0 7px;
}