.div1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
}

.div2{
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}

.div3{
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: #d9a0eb;
    text-decoration-style: wavy;
    text-shadow: 2px 2px 5px #3ae2bb;
    text-indent: 50px;
    text-align: justify;
    text-align-last: center;
}

.div4{
    width: 100%;
    height: 100%;
    letter-spacing: 5px;
    word-spacing: 10px;

}